@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

ul {
    display: flex;
    justify-content: space-around;

}

.user-container {
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff
}
  


